.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  margin: 0rem 15rem 0rem 15rem;
}
@media (max-width: 1160px) {
  .container {
    margin: 0;
    margin-bottom: 1.5rem;
  }
}
